.button-primary {
    background-color: #FFB23E;
    height: 73px;
    width: 221px;
    border: black solid 1.5px;
    box-shadow: 0px 3px #800000;
    cursor: pointer;
    line-height: 30px;
}

.button-primary:active {
    box-shadow: none;
    position: relative;
    top: 3px;
}